<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <div class="wrapper">
    {{ content }}
  </div>
  <div id="navbar">
  <a href="#default" id="logo">乙ㄩ乃丨   卂丂卄</a>
  <div id="navbar-right">
    <a href="https://zubairashfaque.github.io/">Home</a>
    <a href="https://zubairashfaque.github.io/resume/">About</a>
    <a href="https://zubairashfaque.github.io/resume/">Resume</a>
    <a href="https://zubairashfaque.github.io/resume/">Skills</a>
    <a href="https://zubairashfaque.github.io/tags/#PROJECT">Projects</a>
    <a href="#contact">Unbar To Contemplate</a>
  </div>
  </div>
  
  {% include analytics.html %}
</body>
</html>
